[project]
	description = Snake game
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/VladOsipov
[access "refs/for/refs/*"]
	read = group user/VladOsipov
	push = group user/VladOsipov
	label-Code-Review = -2..+2 group user/VladOsipov
	label-Verified = -1..+1 group user/VladOsipov
	rebase = group user/VladOsipov
	removeReviewer = group user/VladOsipov
	submit = group user/VladOsipov
[access "refs/heads/*"]
	read = group user/VladOsipov
	create = group user/VladOsipov
	push = +force group user/VladOsipov
	pushMerge = group user/VladOsipov
[access "refs/tags/*"]
	push = +force group user/VladOsipov
	pushTag = group user/VladOsipov
	pushSignedTag = group user/VladOsipov
