[project]
	description = Snake game
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vlad Osipov (VladOsipov)
[access "refs/for/refs/*"]
	read = group user/Vlad Osipov (VladOsipov)
	push = group user/Vlad Osipov (VladOsipov)
	label-Code-Review = -2..+2 group user/Vlad Osipov (VladOsipov)
	label-Verified = -1..+1 group user/Vlad Osipov (VladOsipov)
	rebase = group user/Vlad Osipov (VladOsipov)
	removeReviewer = group user/Vlad Osipov (VladOsipov)
	submit = group user/Vlad Osipov (VladOsipov)
[access "refs/heads/*"]
	read = group user/Vlad Osipov (VladOsipov)
	create = group user/Vlad Osipov (VladOsipov)
	push = +force group user/Vlad Osipov (VladOsipov)
	pushMerge = group user/Vlad Osipov (VladOsipov)
[access "refs/tags/*"]
	push = +force group user/Vlad Osipov (VladOsipov)
	pushTag = group user/Vlad Osipov (VladOsipov)
	pushSignedTag = group user/Vlad Osipov (VladOsipov)
